:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;

  --dark-font: #000000;
  --light-font: yellow;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: white;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.app {
  background: var(--primary-color);
  padding: 0 10em;
}